.header{
background-color: rgba(255, 173, 21, 0.842);
padding: 4px;
}
.main{background-color: rgba(248, 248, 115, 0.774); }
#survey{padding:6px;}
body
{
text-align: center;
width: 40%;}
.credentials{padding-left: 80px;}
#input{
margin-right:280px;
padding: 1px;  
margin-bottom: 6px;  
}

.radio{
 padding-right: 250px;
}

.fave{
padding-right: 350px;
}
.btn{
 padding-right: 210px;
}

.howmany{
margin-top: 10px;    
}
.brochure{
    padding-right: 435px;
    text-align: right;
}

.fruit{
padding-bottom: 55px; 

}
  

